<section class="center">

	<h1>Challenges</h1>


	<button><%= link_to("Challenges List", challenges_path) %></button>
	<button><%= link_to("Add new challenges", new_challenge_path) %></button>	
	

</section>